@import '../root-style.css';

#endList {
  height: 1px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.red {
  color: red;
}

.scrollLock {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
}

main {
  width: 100%;
}

main > section {
  width: 470px;
  display: flex;
  margin: auto;
  justify-content: center;
}

/* 피드 섹션 */
.feed-section {
  margin: 50px 10px 0;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

/* 피드 콘테이너 */
.feed {
  width: 100%;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 피드 작성자 정보 */
.feed-header {
  height: 56px;

  flex-basis: 10%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-ellipsis {
}

.writer-info {
  display: flex;
  align-items: center;
}

.feed-memberId {
  font-weight: bold;
}

.profile-photo {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.writer-info > a {
  font-size: var(--main-font-size);
}

.feed-profile-image {
  width: 100%;
}

.writer-info a,
.writer-info span {
  display: block;
}

.feed-header-menu {
  padding: 10px;
  cursor: pointer;
  font-size: var(--large-font-size);
}

/* 피드 이미지 목록 */
.image-list {
  width: 100%;
  height: 460px;
  position: relative;
}

/* 이미지 슬라이드 만들기 */

.slides {
  position: relative;
  display: flex;
  width: 300%;
  transition: 0.4s;
}

.slides > li {
  width: 33.3%;
  float: left;
}

.uploaded-image {
  width: 100%;
}

.right-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  right: 10px;
  background-color: rgb(0, 0, 0, 0.2);
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  opacity: 70%;
}

.left-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 10px;
  background-color: rgb(0, 0, 0, 0.2);
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  opacity: 70%;
}

.right-btn > i,
.left-btn > i {
  font-size: 12px;
  color: rgba(red, green, blue, 0);
  opacity: 70%;
}

/* 본문 및 댓글 창 */
.main-content-section {
  margin-top: 5px;
  font-size: var(--main-font-size);
  padding: 0 16px;
}

.comment-icon-menu {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.comment-icon-menu > div {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.comment-icon-menu > div:first-child {
  flex-basis: 22%;
}

.comment-icon-menu > div > button {
  font-size: var(--large-icon-size);
}

.like-count {
  font-weight: 500;
}

.feed-main-content {
  margin-top: 5px;
  margin-bottom: 10px;
}

a.hashtag {
  color: #00376b;
  margin-right: 5px;
}

.feed-content {
  margin-top: 10px;
  font-weight: 300;
}

.member-id {
  font-weight: bold;
}

#textMore {
  color: var(--main-font-color);
}

.comment-container {
  height: auto;
}

.comment-container > button {
  display: block;
  padding-top: 8px;
  color: var(--main-font-color);
}

.comment-icon-menu a:hover {
  color: var(--main-font-color);
}

.comment-area > ul > li {
  width: 100%;
}

.comment {
  font-size: var(--main-font-size);
  display: flex;
  flex-direction: column;
}

.comment > ul {
  width: 100%;
  padding-left: 30px;
}

.reply-list {
  display: none;
}

.reply-firstchild > div {
  width: 100%;
}

.comment-firstline {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}

.comment-content {
  font-weight: 300;
}

/* 댓글 상세보기 설정 */
a.comment-profile {
  display: none;
}

.create-reply {
  display: none;
  font-size: var(--small-font-size);
  color: #8e8e8e;
}
/* 댓글 상세보기 설정 여기까지 */

.comment-id-content {
  overflow: hidden;
  line-height: 1.6;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.comment-memberId,
.reply-memberId {
  font-size: var(--small-font-size);
  font-weight: bold;
  margin-right: 5px;
  display: inline-flex;
}

.like-heart:hover {
  color: gray;
}

.mention {
  color: var(--mention-font-color);
  margin-right: 5px;
}

.comment-area li {
  display: flex;
  margin: 4px 0;
}

.reply-firstline {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}
.create-date {
  color: var(--main-font-color);
  font-size: 10px;
  display: block;
  margin-top: 20px;
}

.more-reply {
  display: none;
}

.comment-input-area {
  margin: 10px 0;
  height: 40px;
  font-size: var(--small-font-size);
}

.comment-input-area > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-input-area > div > textarea {
  border: 0;
  outline: none;
  flex-basis: 90%;
  resize: none;
  font-size: var(--medium-font-size);
  padding-top: 20px;
  overflow: hidden;
}

.comment-input-area button {
  color: var(--fiesta-color);
  font-weight: bold;
}

.comment-input-area button:disabled {
  color: #dbbbb8;
  cursor: default;
}

.one-line {
  overflow: hidden;
  line-height: 1.6;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


.ten-line {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6;
  height: 19em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

/* --------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 1024px) {
  /* Desktop */
  main > section {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .feed-section {
    width: 1000px;
    height: auto;
  }

  .feed {
    width: 1000px;
    height: 610px;
    display: flex;
  }

  .feed > .profile-image-area {
    flex-basis: 55%;
    overflow: hidden;
  }

  /* 이미지 리스트 스타일 */

  .image-list {
    width: 100%;
    height: 538px;
    overflow: hidden;
  }

  .slide-show {
    overflow: hidden;
    height: 528px;
  }
  .slides {
    position: relative;
    display: flex;
    width: 300%;
    transition: 0.4s;
  }

  .uploaded-image {
    width: 100%;
  }

  .image-list li {
    width: 528px;
    height: 528px;
    width: 33.4%;
    float: left;
    object-fit: cover;
  }

  .main-container {
    width: 100%;
    margin-top: 5px;
    height: 480px;
    overflow: scroll;
    overflow-x: auto;
    -ms-overflow-style: none;
  }

  .main-container::-webkit-scrollbar {
    display: none;
  }

  .main-content-section {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;

    flex-basis: 45%;
  }

  .member-id {
    display: none;
  }

  .comment-area > ul {
    height: auto;
  }

  .feed-content {
    width: 100%;
    text-overflow: clip;
    display: block;
    height: auto;
    line-height: 1.5;
    margin-left: 5px;
  }

  #textMore {
    display: none;
  }

  .feed-main-content > button > span:first-child {
    display: none;
  }

  .comment-container > button:first-child {
    display: none;
  }

  .like-count {
    margin-top: 10px;
  }

  .hashtag {
    display: inline;
  }

  /* 댓글 상세보기 설정 */
  .comment-container {
    display: flex;
    flex-direction: column;
  }

  .comment-area > ul > li {
    justify-content: center;
    margin-top: 30px;
  }

  a.comment-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;

    object-fit: fill;
    margin-top: 5px;
  }

  .comment-profile-image {
    width: 100%;
  }

  .comment {
    width: 100%;
  }

  .comment > ul {
    width: 100%;
    padding-left: 0;
  }

  .comment-firstchild {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .comment-firstchild > div {
    padding-left: 10px;
    width: 100%;
  }

  div.comment-firstline {
    display: flex;
    justify-content: space-between;
  }

  .comment-firstline > div {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
  }

  .reply-firstchild {
    padding-left: 30px;
    display: flex;
    align-items: center;
  }

  .reply-firstchild > div {
    padding-left: 10px;
    width: 100%;
  }

  div.reply-firstline {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .create-reply {
    margin-top: 5px;
    margin-left: 5px;
    display: block;
  }

  .create-reply > span,
  .create-reply > button.reply-btn {
    color: #8e8e8e;
    font-size: var(--small-font-size);
    margin-right: 5px;
  }

  .hover-btn {
    margin-left: 10px;
    color: white;
  }

  .create-reply:hover > .hover-btn {
    color: #8e8e8e;
  }

  .more-reply {
    display: flex;

    margin-top: 10px;
    margin-left: 55px;
    font-size: var(--small-font-size);
    color: #8e8e8e;
    cursor: pointer;
  }

  /* 댓글 상세보기 스타일 end */

  /* 답글 스타일 */
  #reply {
    margin-top: 20px;
  }
  /* 답글 스타일 end */

  /* 댓글 입력창 */
  .comment-input-area > div {
    height: 50px;
    align-items: center;
    margin-bottom: 5px;
  }

  .comment-input-area > div > textarea {
    font-size: 15px;
    height: auto;
    border: none;
    resize: none;
    width: 90%;
    padding: 3px;
    line-height: 15px;
    padding-top: 20px;
    overflow: hidden;
  }

  .comment-input-area > div > textarea:focus {
    outline: none;
  }

  .comment-input-area > div > button {
    font-size: 15px;
  }
}

@media screen and (min-width: 471px) and (max-width: 1023px) {
  /* Tablet */

  .two-line {
    text-align: left;
  
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.8em;
    max-height: 4em;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

}

@media screen and (max-width: 470px) {
  /* mobile */

  .two-line {
    text-align: left;
  
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.8em;
    max-height: 4em;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  header {
    width: 100vw;
  }

  main > section {
    height: auto;
    width: 100%;
    margin: 0;
  }

  .main-content-section {
    margin-top: 0;
    font-size: var(--small-font-size);
  }

  .feed-section {
    margin-top: 0;
  }

  .feed {
    border: none;
  }

  .feed-main-content {
    width: 100%;
  }

  .image-list {
    width: 100vw;
    height: 100vw;
    position: relative;
  }

  .image-list li {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .comment {
    font-size: var(--small-font-size);
  }
}

/* 클래스로 효과 주기 */
.hide {
  display: none;
}
