@import "../root-style.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.dm-container {
  width: 100vw;
  height: 100vh;
  background-color: #00000070;
  position: fixed;
  top: 0;
  z-index: 500;

  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.dm-menu {
  width: 450px;
  height: 480px;
  background-color: white;

  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.dm-btn1 {
  width: 100%;
  flex-basis: 10%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
}

.dm-btn1 > .message {
  font-size: 20px;
  font-weight: bold;
}

.dm-btn1 > .next > a {
  font-size: 16px;
  font-weight: bold;
  color: #dd4132;
}

.dm-btn2 {
  width: 100%;
  flex-basis: 10%;
  padding: 15px 0 10px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

input.search {
  margin-top: 10px;
  width: 70%;
  height: 70%;
  border: none;
  outline: none;
}

.dm-btn3 {
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
}

.dm-btn2 > div {
  padding-left: 20px;
}
