@import '../root-style.css';
body {
    width: 100vw;
    height: 100vh;
  }


.container{
    width: 1200px;
    height: 800px;
    border: 1px solid #ccc;
    display: flex;
    margin: auto;
    margin-top: 100px;
    
    
}


.left{
    width: 400px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}


.right{
    width: 800px;
    height: 800px;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

#dmOpen{
    margin-left: 30px;
}

.right > #no-click{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left > .up{
    flex-basis: 10%;
    background-color: white;
    border-bottom: 1px solid #ccc;
   
}

.left .down{
    
    flex-basis: 90%;
    overflow: auto;

}
.left .up .id {
    margin: 30px 10px 30px 100px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
}

#login{
    width: 8px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;

}

.right> #no-click > img{
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.right > #no-click> h1{
   font-weight: lighter;
}

.right > #no-click > .message-info{
    font-size: 14px;
    color : #aaa;
    margin-top: 10px;
    margin-bottom: 20px;
}

.right > #no-click>.send {
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    font-size: 14px;
    background-color: var(--fiesta-color);
    cursor: pointer;
    outline: none;
    border-radius: 5px;

}

.right > .send > a{
    color :white
}

.chat{
    display: flex;
    padding : 8px 20px;

}

.down .chat .pro-img{
width: 56px;
height: 56px;
margin: 10px;
}

.chat-content-right > span{
    font-size: 1em;
    font-weight: 500;
    display: block;
    margin: 10px;
}

.down .chat > .chat-content{
    display: flex;
    flex-direction: column;
}
.chat-content2{
    display: inline;
    margin-left: 5px;
    font-size: 0.9em;
    color: #8e8e8e;
}

.chat-time{
    display: inline-block;
    margin-left:5px;
    font-size: 0.9em;
    color:#8e8e8e;
}

#clickUp{
    flex-basis: 10%;
    border-bottom: 1px solid #ccc;
    display:flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;    
}

#right > #click{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.not-read-count{
	width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--fiesta-color);
    color: white;
    font-size: 12px;
    margin: 10px 10px 0 0;
}

#chattingRoom{

    flex-basis: 80%;
    overflow: auto;

}

#input{
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    padding: 3px;
}

#chattingInput{
    height: 50%;
    width: 70%;
    border-radius: 15px;
    padding: 5px;

}
#memberListArea{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-top: 10px;
}

/* 모달 - 추천 창 */
.chatMember{
    height: 60px;
    padding: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chatMember > span {
    font-size: 12px;
}

.modalProfile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.modalNick{
    font-size: 20px;
    margin: 20px;
}

.dm-item.select{
	background-color: #ddd;
}

.chatting-content{
	width: 70%;
}
.target-profile{ width: 65px;
    border-radius: 50%;
    margin : 10px;
}

.dm-area > li{
	margin: 10px 0;
}

.target-chat{
	display: flex;
	align-items: flex-start;
}
.target-chat > img{
	width: 50px;
	margin-right: 5px;
}

.chat {
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	background-color: #eee;
	text-align: left;
	max-width: 500px;
	word-break: break-all;
	white-space: pre-wrap;
}


.input-area {
	height: 80px;
	width: 100%;
	display: flex;
}

#chattingInput {
	padding: 3px;
	font-size: 1.3em;
	width: 80%;
	resize: none;
}

.dm-item > div{ height: 100%; }
.item-header{ width : 25%; }
.item-body{ 
	width : 75%; 
	padding : 2px 0;
}


.my-chat {
	text-align: right;
}

.my-chat>p {
	background-color: yellow;
}

.chatDate {
	font-size: 9px;
}

.dm-item{
	height: 12%;
	display: flex;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
    width: auto;
}

.dm-list{
	width: 100%;
	border: 1px solid #ccc;
	list-style: none;
	overflow: auto;
}

/* 채팅창 위 사진 */
#chatProfile{
    border-radius: 50%;
}


@media screen and (max-width: 470px) {


.container > .right {
 display: none;
}

.container{
    border: none;
    margin-top: 0;

}

.left{
    width: 100%;
    
}

}