



body{
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FAFAFA;
}



main{
    flex-basis: 90%;

    margin: 3% 0;  /* 다시 확인 footer부분 */

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


/* 영역 크기 구분 */
/* 전체 */
.findAccount-section{
    width: 360px;
    height: 550px;

    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 7% 10% 3%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* align-content: space-between; */

}   



/*  비밀번호 찾기(이메일 계정 작성하기) */
/* 상단 아이콘, 안내문 */
.findAccount-logo-area{
    /* flex-basis: 50%; */
    width: 360px;
    height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}

/* 상단-아이콘 */
.i-lock-area{
    flex-basis: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border: 1px solid red; */
}

.i-lock-area i{
    transform: scale(4);
    color: var(--icon-button-color);
}

/* 상단-로그인에 문제가 있나요?*/
.logo-sentence-area{
    flex-basis: 30%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-sentence1{
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0 10px 0;
}

#logo-sentence2{
    text-align: center;
    font-size: 0.75em;
}



/* 하단 (이메일~새 계정 만들기)*/
#findAccount-frm{
    width: 400px;

    padding: 0 10%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* 이메일 입력 */
.email-input-area{
    width: 85%;
    height: 45px;
    margin: 0 0 2% 0;
    padding: 3.5% 4% 1%;
    background-color: #FAFAFA;
    border: 1px solid #ddd;
    border-radius: 5px;

    display: flex;
    align-items: center;
}


.email-input-area input{
    width: 100%;
    background-color: #FAFAFA;
    border: none;
    outline: none;
}



/* 트랜지션 적용 */
.email-input-area{
    position: relative;
}


.email-input-area > label{
    /* border: 1px solid black; */
    position: absolute;
    top: 10px;
    left: 12px;
    padding: 0 0 2%;
    font-size: 0.8em;
    color: #b4b4b4;
    transition: 0.3s;
}

.email-input-area input:focus ~ label{
    position: absolute;
    transform: translate(1px, -8px);
    font-size: 0.5em;
    color: var(--fiesta-color);
    transition-timing-function: ease-in-out;
}


.email-input-area input:valid ~ label{
    position: absolute;
    transform: translate(1px, -8px);
    padding: 0;
    font-size: 0.5em;
}


.email-input-area:focus-within{
    border: 1px solid var(--fiesta-color);
}





#loginEmail{
    width: 100%;
    background-color: #FAFAFA;
    border: none;
    outline: none;
} 

.login-button{
    width: 85%;
    height: 36px;
    background-color: var(--fiesta-color);
    border-radius: 5px;
    color: white;
    
    margin: 2% 0 0 0; 
    cursor: pointer;
}


/* 비밀번호를 재설정할 수 없나요? */
.notFoundAccount a{
    font-size: 0.7em;
    color: var(--main-font-color);
    margin: 10% 0;

    /* border: 1px solid black; */

}


/* 또는 */
.line {
    width: 100%;

	display: flex;
    flex-direction: row;
	align-items: center;
	color:#b4b4b4;
	font-size: 0.7em;

    /* border: 1px solid black; */
}
.line::before{
	content:"";
	flex-grow: 1;
	margin: 0 3% 0 0;
	background: #b4b4b4;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}
.line::after {
	content:"";
	flex-grow:1;
	margin: 0 0 0 3%;
	background:#b4b4b4;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}



/* 새 계정 만들기 */
.toSignUp a{
    font-size: 0.8em;
    font-weight: bold;
    color: var(--icon-button-color) ; 
    margin: 0 0 50px 0;
}


/* 로그인으로 */
.toLogin{
    width: 360px;
    height: 57px;

    margin: 3% 0;
    padding: 0 10%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.8em;
}

.toLogin a{
    font-weight: bold;
    cursor: pointer;
}







/* text-align : justify  양쪽정렬 */