

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #FAFAFA;
}

/* main {flex-basis: 90%;}
footer {flex-basis: 10%}
 값 px로 고정시킴 */


main{
    flex-basis: 90%;

    /* height: 40em;
    width: 19em; */
    /* 값 px로 고정시킴 */

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* 영역 크기만 따로 구분 */
.login-section {
    /* flex-basis: 50%; */
    width: 360px;
    height: 390px;
}
.toSignUp {
    /* flex-basis: 7%; */
    width: 360px;
    height: 57px;
}



/* 로그인 */
.login-section{
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 7% 10% 0;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


.logo-area{
    text-align: center;
    margin-bottom: 15px;
}

.logo-area a {
    font-family: "Cookie", cursive;
    color: #dd4132;
    font-size: 60px;
    width: 120px;
    height: auto;
  }



  /* 로그인 정보 입력 */
.login-area :first-child {
    margin: 0 0 7px 0;
}


.login-area > input{
    width: 100%;
    height: 47px;
    margin: 0 0 2% 0;
    padding: 4% 4% 1% 4%;
    border: 1px solid #ddd;
    background-color: #FAFAFA;
    border-radius: 5px;
    font-size: 0.8em;
} 


/* 트랜지션 적용 */
.login-area{
    position: relative;
}


.login-area > label{
    /* border: 1px solid black; */
    position: absolute;
    top: 10px;
    left: 12px;
    padding: 0 0 2%;
    font-size: 0.8em;
    color: #b4b4b4;
    transition: 0.3s;
}

.login-area input:focus ~ label{
    position: absolute;
    transform: translate(1px, -8px);
    font-size: 0.5em;
    color: var(--fiesta-color);
    transition-timing-function: ease-in-out;
}


.login-area input:valid ~ label{
    position: absolute;
    transform: translate(1px, -8px);
    padding: 0;
    font-size: 0.5em;
}


.login-area > input:focus {
    border: 1px solid var(--fiesta-color);
    outline: none;
}


.login-button{
    display: block;
    width: 100%;
    height: 36px;
    background-color: var(--fiesta-color);
    border-radius: 5px;
    color: white;
    
    margin: 3% 0 8% 0; 
    cursor: pointer;
}


/* 아이디, 비밀번호 찾기 */
.line {
	display: flex;
	align-items: center;
	color:#b4b4b4;
	font-size: 15px;
}
.line::before{
	content:"";
	flex-grow:1;
	margin: 0 5% 0 0;
	background: #b4b4b4;
	height:1px;
	font-size:0px;
	line-height: 0px;
}
.line::after {
	content:"";
	flex-grow:1;
	margin: 0 0 0 5%;
	background:#b4b4b4;
	height:1px;
	font-size:0px;
	line-height: 0px;
}


.findAccount{
    margin: 6% 0;
    text-align: center;
    font-size: 0.75em;
}

.findAccount a{
    cursor: pointer;
}


/* 회원가입으로 */
.toSignUp{
    width: 100%;
    margin: 3% 0;
    padding: 0 10%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.8em;
}

.toSignUp a{
    color: var(--fiesta-color);
    font-weight: bold;
    cursor: pointer;
}



