* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-container {

    width: 1000px;
    padding: 0 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.info-section{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#profile-photo{
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
}

#selfImg{
    border-radius: 50%;
    cursor: pointer;
}

.info-section img{
    width: 150px;
    height: 150px;
    flex-basis: 70%;
    
}

#profile-text{
    margin-left: 100px;
}

#btn{
   
    font-size: 18px;
}


#nickname >span:first-child{
    padding-top: 10px;
    font-size: 28px;
    font-weight: 150;
    margin-right: 20px;
}

#profile-board {
    margin-top: 20px;
}

#profile-board > span:nth-child(1) {
    margin-right: 50px;
}

#profile-board > span:nth-child(2) {
    margin-right: 50px;
}

.introduce-text{
    margin-top: 20px;
    min-width: 550px;
    min-height: 115.6px;
    font-size: 16px;
}

.title-section{
    border-top: 1px solid #ddd;
}

.profileName{
    margin-top: 20px;
    font-size: 16px;
}

#text-area{
    display: flex;
    justify-content: center;
    font-size: 12px;
    width: 980px;
}

#text-area a{
    padding:15px 10px 5px;
    margin: 0px 20px;
    cursor: pointer;
}

.feed-section{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100vw;

}

.img-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 325px;
    margin-bottom: 10px;

}

.img-container2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 325px;
    margin-bottom: 10px;
}

.img-container3{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 325px;
    margin-bottom: 10px;
}

.img-container > a {
    display: flex;
    justify-content: center;
    /* width: 315px;
    height: 315px; */
    margin: 10px;
    position: relative;
}

.img-container2 > a{
    display: flex;
    justify-content: center;
    /* width: 315px;
    height: 315px; */
    margin: 10px;
    position: relative;
}

.img-container3 > a{
    display: flex;
    justify-content: center;
    /* width: 315px;
    height: 315px; */
    margin: 10px;
    position: relative;
}

.feed-img {
    /* width: 100%;
    height: 100%; */
      width: 315px;
    height: 315px;
    object-fit: cover;
}

.hover-icon-container {
    display: none;
  }
  
  .feed-img:hover + .hover-icon-container {
    width: 315px;
    height: 315px;
    background-color: #00000070;
  
    position: absolute;
    top: 0;
    left: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }
  
  .hover-icon-container > i {
    color: white;
    margin-left: 20px;
    margin-right: 5px;
  }
  
  .hover-icon-container > span {
    color: white;
    font-size: 14px;
  }

  @media screen and (min-width: 1000px) {
    .feed-section {
      width: 1000px;
    }
}

#follow-btn, #following-btn {
    cursor: pointer;
}

#btn-follow{
    width: 100px;
    height: 20px;
    /* color: var(--fiesta-color); */
}


.followAccountBtn{
    color: white;
    background-color: var(--fiesta-color);
    border: none;
}


.unfollowAccountBtn{
    color: gray;
    border: none;
}

#br{
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: var(--fiesta-color);
}

