.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 5;
  /* height: 100%; */
  /* display: none; */
}

/*------------닫기 버튼------------*/
.new-post-close {
  position: fixed;
  top: 0;
  left: 100;
  bottom: 100;
  right: 0;
  z-index: 6;
  margin: 20px;
  background-color: transparent;
  transform: scale(1.5);
  cursor: pointer;
  color: white;
}


/* ************** 게시물 작성 창 ******************* */
/* 점점커지는 사이즈 */
/* @media all and (min-width:1024px) {
  .new-post-background{
    width: 388px;
  }
}
@media all and (max-width:767px),(max-height:570px) {
  .new-post-background{
    width: 855px;
  }
} */

/* @media screen and (min-width:721px),
(min-height:571px) {
  .new-post-background{
    width: 50%;
    max-width: 855px;
    max-height: 894px;

  }
}

@media screen and (max-width:720px),
(max-height:570px) {
  .new-post-background{
    width: 402px;
  }
} */
/* @media all and (max-width:2600px) {
  .new-post-background{
      width: 655px;
  }
}  */
/* @media all and (max-width:768px) {
  .new-post-background{
      width:90%;
      min-width: 355px;
      max-width: 655px;
  }
}  */
/* @media all and (max-width:480px) {
  .new-post-background{
      width: 375px;
  }
}  */



.modal_post_section_edit {
  background-color: white;
  border-radius: 10px;
  width: 90%;
  min-width: 355px;
  max-width: 655px;
}


/* ----- 게시물작성 top ------ */
.new-post-top-edit{
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  /* justify-content: center; */
  border-bottom: 2px solid #ececec;

}

.new-post-top-edit>* {
  display: flex;
  align-items: center;
  /* margin: 0 10px; */
}

/* top-버튼 스타일 */
.new-post-top-edit>button {
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
  width: 100px;
}

.new-post-top-edit>button:last-of-type {
  color: var(--fiesta-color);
  /* box-sizing: content-box; */
  font-size: 16px;
  flex-direction: row-reverse;
}

/* ----- 게시물작성 bottom ------ */

.new-post-bottom-edit {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  border-radius: 10px;
  /* overflow: hidden; */
  margin: 0 auto;
}

.new-post-bottom-edit::after {
  display: block;
  /* position: absolute; */
  content: "";
  padding-bottom: 100%;
}

.album {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* top:0; */
  /* bottom:0; */
  /* overflow: hidden; */
}

/* .images{
  display: flex;
  width: 100%;
  height: 100%;
} */
.eidt-file {
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* list-style: none; */
  object-fit: none;
}
.eidt-file >img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* height: 100px; */
}

.siltde-btn-area>div {
  /* margin: 13px; */
  /* background-color: rgba(0, 0, 0, 0.6); */
  color: rgba(0, 0, 0, 0.6);
  /* border-radius: 100%; */

  /* width: 32px; */
  /* height: 32px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* box-sizing: border-box; */
  /* padding-bottom: 6px; */

  /* font-size: 15px; */
  /* cursor: pointer; */
  z-index: 6000;
  position: absolute;
}

.slide-controller>button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* 버튼 누를수 없는 상태일때 */
.slide-controller>button:disabled {
  background-color: transparent;
  color: transparent;
  /* background-color: salmon; */
}

/* ----------------------------- */
/* ****사진 편집******* */
/* 버튼 위치 */
.img-btn {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  /* 양쪽 정렬 */
  padding: 0 20px 20px;
  z-index: 500;
}

/* 버튼 스타일지정 */
.btn-background {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 100%;

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  z-index: 100000;
}

/* 버튼 마우스 올렸을때 스타일 */
.btn-background:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-background>i {
  color: white;
}

/* 버튼 클릭시 */

/* 비율조정 선택 */
.new-post-btn-menu>input {
  display: none;
}

#check-btn1:checked~.cut {
  display: block;
}

#check-btn2:checked~.add {
  display: block;
  /* position: fixed; */
  /* display: fiex; */
  float: inline-end;
  /* flex-direction: row-reverse; */
  /* margin: 0 0 30px; */
}

#check-btn2:checked~label {
  display: flex;
  flex-direction: row-reverse;
}

.cut,
.add {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.cut{
  width: 150px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.cut > input{
  margin: 10px;
}
.new-post-btn-menu {
  display: flex;
  flex-direction: column-reverse;
}

.cut>div {
  color: white;
  padding-left: 10px;

  font-size: 15px;
  width: 84px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.cut-1>i,
.cut-2>i {
  padding: 12px;
}

.cut-2 {
  border-top: 1px solid white;
}

/* 이미지 추가 모든요소 감싸는 영역 */
/* .add{ */
/* width: ; */
/* overflow: hidden; */
/* margin-left:100px ; */
/* } */
.add>* {
  cursor: pointer;
}

/* 미리보기 + 파일추가 버튼 */
.add-files {
  /* width: 90%; */
  height: auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
  /* flex-direction: column; */
  
}

/* 파일 추가 "컴퓨터에서 선택' */
.edit-add-file-input {

  width: 50px;
  height: 50px;
  background-color: transparent;
  color: rgb(192, 192, 192);
  border: 1px solid white;
  cursor: pointer;
  border-radius: 50px;
  margin:0 10px;
  /* z-index: 10000; */
  /* cursor: pointer; */
}

/*파일 추가 "컴퓨터에서 선택' + 아이콘  */

.edit-add-file-input > label > i {
  justify-content: center;
  align-items: center;
  padding: 15px;
}


/* 파일미리보기 영역 */
.file-preview-and-remove{
  display: flex;
  width: 200px;
  height: 90px;
  max-width: 300px;
  overflow: hidden;
}
.file-preview{
  display: flex;
  position: relative;
  width: 70px;
  height: 90px;
  margin: 10px;

}
.preview-file>img{
  position: absolute;
  width: 70px;
  height: 70px;
  padding: 5px;
}

/* 파일 미리보기 삭제버튼 */
.remove {
  border: 1px solid white;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 13px;


  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 2px;
  cursor: pointer;
  position: absolute;
  top: auto;
  margin-left: 50px;
  /* margin: 5px 65px 65px 65px; */


  /* display: none; */
}

.remove:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* 파일미리보기 옆으로 넘기는 영역 */
.preview-controller {

  /* position: sticky; */
  position: absolute;
  display: flex;
  justify-content: space-between;
  /* width: 30px; */
  /* padding-left: 10px; */
  width: 50%;
}
.preview-btn{
  width: 30px;
  height: 30px;
  color:white;
  z-index: 90000;
}
/* .remove{

  margin: 13px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 100%;

  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  

  font-size: 15px;

 
} */