.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 5;
}

/*------------닫기 버튼------------*/
.new-post-close {
  position: fixed;
  top: 0;
  left: 100;
  bottom: 100;
  right: 0;
  z-index: 6;
  margin: 20px;
  background-color: transparent;
  transform: scale(1.5);
  cursor: pointer;
  color: white;
}
@media all and (min-width:1024px) {
  .new-post-background{
    width: 388px;
  }
}
@media all and (max-width:767px),(max-height:570px) {
  .new-post-background{
    width: 1055px;
  }
}
.modal_post_section{
  background-color: white;
  border-radius: 10px;
  width:90%;
  min-width: 855px;
  max-width: 855px;
  /* overflow: auto; */
}
/* ----- 게시물작성 top ------ */
.new-post-top{
  display: flex;
  justify-content: space-between;
  /* border-radius: 10px; */
  /* justify-content: center; */
  border-bottom: 2px solid #ececec;
  
}
.new-post-top>* {
  display: flex;
  align-items: center;
  /* margin: 0 10px; */
}
/* top-버튼 스타일 */
.new-post-top > button {
  background-color:transparent;   
  cursor: pointer;
  padding: 15px;
  width: 100px;
}


.new-post-top > button:last-of-type {
  color: var(--fiesta-color);
  /* box-sizing: content-box; */
  font-size: 16px;
  flex-direction: row-reverse;
}
/* bottom */
.new-post-bottom{
  width: 100%;
  height: 90%;
  background-color: white;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  overflow: auto;
}

.bottom-left-box{
  position: relative;
  display: flex;
  min-width: 388px;
  width: 70%;
  /* height: 80vh; */
}
.bottom-left-box> img{
  position: absolute;
  width: 100%;
}

.bottom-right-box{
  width: 46%;
  overflow: auto;
  height: auto;
  /* background-color: blueviolet; */
}

.new-post-bottom-set, .new-post-bottom-textsize{
  border-bottom: 2px solid #ececec;
  /* width: 90%; */
}

.new-post-bottom-information{
 height: 480px;
 /* width:322px; */
 display: flex;
 flex-direction: column;
}

.new-post-bottom-information{
  margin-right: 10px;
}
/* 작성자 */
.new-post-bottom-member{
  height: 10%;
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 8px;
  padding : 10px 0;
}
.new-post-bottom-member >div{
  font-size: 13px;
}
/* 프로필사진 */
.new-post-bottom-member > img{
  width: 28px;
  height: 28px;
  margin: 0 10px;
}
/* 텍스트작성 부분 */
.new-post-bottom-inputtext > textarea{
  width: 100%;
  /* height: 100%; */
  border: none;
  resize: none;
  /* background-color: blue; */
  color: rgb(141, 141, 141);
  font-size: 15px;
  padding: 0 16px;
  /* overflow: auto; */
}
.new-post-bottom-inputtext > textarea:focus{
  outline: none;
  color: balck;
}
/* 작성가능 글자수 */
.new-post-bottom-textsize{
  display: flex;
  justify-content: flex-end;
  color: rgb(220, 220, 220);
  padding: 10px;
  font-size: 5px;
}
/* 설정부분 */
.new-post-bottom-set{
  display: flex;
  flex-direction: column;
}
.new-post-bottom-set >label{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.new-post-bottom-set > i{
  cursor: pointer;
  z-index: 2000;
}
.new-post-bottom-set > div{
  padding: 10px;
  font-size: 12px;
  color: rgb(141, 141, 141);
}
/* 버튼 클릭시 */
#set-btn1,#set-btn2{
  display: none;
}
#set-btn1:checked~div {
  display: block;
}
#set-btn2:checked~div {
  display: block;
}
.new-post-bottom-set >div{
  display: none;
}
.postFileText{
  display: flex;
  margin-top: 10px;
}
.postFileText-area > div{
  width: 50px;
  height: 50px;
  background-color: white;
  /* border: 1px solid black; */
}
.postFileText > img{
  width: 100%;
  height: 100%;
}
.postFileText > input{
  margin-left: 10PX;
  border-radius: 5px;
  border: 1px solid rgb(197, 197, 197);
  padding: 10px;
}

.setting-on-off{
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  color: rgb(157, 157, 157);
}
/* .on-off-btn> i{
  font-size: 30px;
  cursor: pointer;
  transform: scaleX(-1);
  margin-left: 10px;
  
} */
.toggleSwitch {
  width: 50px;
  margin: 5px;
  height: 30px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  /* box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%); */
  border: 1px solid rgb(179, 179, 179);
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--fiesta-color);
}

.toggleSwitch.active {
  background: var(--fiesta-color);
}

.toggleSwitch.active .toggleButton {
  left: calc(100% - 25px);
  background: #fff;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}