.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 5;
}

/*------------닫기 버튼------------*/
.new-post-close {
  position: fixed;
  top: 0;
  left: 100;
  bottom: 100;
  right: 0;
  z-index: 6;
  margin: 20px;
  background-color: transparent;
  transform: scale(1.5);
  cursor: pointer;
  color: white;
}


/* ************** 게시물 작성 창 ******************* */
/* 점점커지는 사이즈 */
/* @media all and (min-width:1024px) {
  .new-post-background{
    width: 388px;
  }
}
@media all and (max-width:767px),(max-height:570px) {
  .new-post-background{
    width: 855px;
  }
} */

/* @media screen and (min-width:721px),
(min-height:571px) {
  .new-post-background{
    width: 50%;
    max-width: 855px;
    max-height: 894px;

  }
}

@media screen and (max-width:720px),
(max-height:570px) {
  .new-post-background{
    width: 402px;
  }
} */
/* @media all and (max-width:2600px) {
  .new-post-background{
      width: 655px;
  }
}  */
/* @media all and (max-width:768px) {
  .new-post-background{
      width:90%;
      min-width: 355px;
      max-width: 655px;
  }
}  */
/* @media all and (max-width:480px) {
  .new-post-background{
      width: 375px;
  }
}  */



.modal_post_section{
  background-color: white;
  border-radius: 10px;
  width:90%;
      min-width: 355px;
      max-width: 655px;
}


/* ----- 게시물작성 top ------ */
.new-post-top{
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  /* justify-content: center; */
  border-bottom: 2px solid #ececec;
  
}
.new-post-top>* {
  display: flex;
  align-items: center;
  /* margin: 0 10px; */
}
/* top-버튼 스타일 */
.new-post-top > button {
  background-color:transparent;   
  cursor: pointer;
  padding: 15px;
  width: 100px;
}


.new-post-top > button:last-of-type {
  color: var(--fiesta-color);
  /* box-sizing: content-box; */
  font-size: 16px;
  flex-direction: row-reverse;
}
/* bottom */
.new-post-bottom{
  width: 100%;
  padding-bottom: 100%;
  background-color: white;
  position: relative;
  border-radius: 10px;
  /* box-sizing: border-box; */
  overflow: hidden;
}
li{
  list-style-type: none;
}
.file-view{
  position: absolute;
  left: 0;
  top: 0;
  /* width: 2500px; */
  width: 100%;
  height: 100%;
  transition: left 0.5s ease-out; 
  display: flex;
}

/* .file-view li:not(:last-child){
  float: left;
  margin-right: 100px;
  background-color: aquamarine;
} */
.file-view li{
  float: left;
  width: 100%;
  height: 100%;
}
.controller span{
  position:absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 1.3em;
  cursor: pointer;
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover{
  background-color: rgba(128, 128, 128, 0.11);
}

.prev{
  left: 10px;
}

/* .new-post-bottom > img{
  width: 500%;
  height: 100%;
  position: absolute;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  

} */

/* ----------------------------- */
/* ****사진 편집******* */
/* 버튼 위치 */
.img-btn {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  /* 양쪽 정렬 */
  padding: 0 20px 20px;
}
/* 버튼 스타일지정 */
.btn-background {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 100%;

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  z-index: 100000;
}
/* 버튼 마우스 올렸을때 스타일 */
.btn-background:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-background>i {
  color: white;
}

/* 버튼 클릭시 */

/* 비율조정 선택 */
.new-post-btn-menu > input{ display: none;}
#check-btn1:checked~.cut {
  display: block;
}
#check-btn2:checked~.add {
  display: block;
  /* flex-direction: row-reverse; */
  /* margin: 0 0 30px; */
}

.cut, .add {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin-bottom: 10px; 
}

.new-post-btn-menu {
  display: flex;
  flex-direction: column-reverse;
}
.cut > div{
  color: white;
  padding-left: 10px;

  font-size: 15px;
  width: 84px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.cut-1 > i, .cut-2 > i{
  padding: 12px;
}
.cut-2{
  border-top: 1px solid white ;
}

/* 사진추가 */
.add-files{
  width: 288px;
  height: 118px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: column; */
}

.add > *{
  cursor: pointer;
}
.add-files > label{
  
  width: 50px;
  height: 50px;
  background-color:transparent;
  color: rgb(192, 192, 192);
  border: 1px solid white;
  border-radius: 50;
  cursor: pointer;
}
.add-files > label>i{
  justify-content: center;
  align-items: center;
}
.add-files > button{
  
 display: none;

}
.file-preview{
  /* position:absolute; */
  margin: 10px;
  width: 94px;
  height: 94px;
  background-color: white;
}
.remove{
  border: 1px solid black;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 3px;
    cursor: pointer;
    position:absolute;
    margin: 5px 0 0px 70px;


}
