
/*------------모달 배경------------*/
.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);

  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 500;
  display: none;
}
/*------------닫기 버튼------------*/
.new-post-close {
  position: fixed;
  top: 0;
  left: 100;
  bottom: 100;
  right: 0;
  z-index: 6;
  margin: 20px;
  background-color: transparent;
  transform: scale(1.5);
  cursor: pointer;
  color: white;
}

/* ************** 게시물 작성 창 ******************* */
@media (max-width: 600px) {
  /* 600px이하 핸드폰 */
  .modal_post_section {
    width: 348px;
  }
}
@media (min-width: 600px) {
  /* 600px이상 태블릿의 세로모드, 큰 스마트폰 */
  .modal_post_section {
    width: 459px;
  }
}
@media (min-width: 768px) {
  /* 768px 이상 태블릿의 세로모드, 큰 스마트폰 */
  .modal_post_section {
    width: 459px;
  }
}
@media (min-width: 992px) {
  /* 992px 이상 노트북, 작은 데스크톱 */
  .modal_post_section {
    width: 655px;
  }
}
@media (min-width: 1200px) {
  /* 1200px 이상  큰 노트북, 데스크톱 */
  .modal_post_section {
    width: 555px;
  }
}

.modal_post_section {
  background-color: white;
  border-radius: 10px;
}

/* ----- 게시물작성 top ------ */
.new-post-top-file {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ececec;
  height: 50px;
}

.new-post-top > * {
  display: flex;
  align-items: center;
  /* margin: 0 10px; */
}
/* ----- 게시물작성 bottom ------ */

.new-post-bottom {
  width: 100%;
  padding-bottom: 100%;
  background-color: white;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.new-post-bottom > form {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-post-file-input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-message {
  height: 52px;
  font-size: 24px;
  text-align: center;

  font-weight: lighter;

  padding: 0 7px;
  margin: 10px 0;
}

.file-select-btn > input {
  display: none;
}

.file-select-btn > label {
  cursor: pointer;
}

.file-select-btn {
  width: 122px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--fiesta-color);
  margin-top: 12px;

  color: white;
  font-size: 15px;
  text-align: center;
}
