* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 1000px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feed-section {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100vw;
}

.img-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.img-container2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.img-container3 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.img-container > a {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 10px;

  position: relative;
}

.img-container2 > a {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 10px;

  position: relative;
}

.img-container3 > a {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 10px;

  position: relative;
}

.feed-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover-icon-container {
  display: none;
}

.feed-img:hover + .hover-icon-container {
  width: 100%;
  height: 100%;
  background-color: #00000070;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-icon-container > i {
  color: white;
  margin-left: 20px;
  margin-right: 5px;
}

.hover-icon-container > span {
  color: white;
  font-size: 14px;
}

@media screen and (min-width: 1000px) {
  .feed-section {
    width: 1000px;
  }
}
