/* 화면 작아질때 footer가 중간에 위치하는 문제 해결하기! */
/* 화면 작아질때 비율 해결하기 */


body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* web */
@media screen and (min-width: 1024px){

main {
    width: 1000px;
    /* width: 702px;   */
    padding: 20px 1% 0;
    margin: 0 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    /* align-items:center; */
}


/* 검색 결과 (맨위)*/
.keywordResult-section{
    /* border: 1px solid black; */

    flex-basis: 20%;
    width: 100%;
    margin-bottom: 30px;

    padding: 20px;
    
    display: flex;
}


.keywordPicture{
    flex-basis: 20%;
    /* border: 1px solid black; */
}

.keyword-area{
    flex-basis: 70%;
    padding-top : 25px;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* border: 1px solid black; */
}


/* 검색결과 이미지 _피드 프로필하고 맞추기*/
.keywordpPic{
    /* height: 100%; */
    height: 160px;
    width: 160px;
    border-radius: 50%;

    margin-top: 10px;
    margin-left: 10px;
}


.searchKeyword{
    font-size: 1.5em;
    font-weight: bold;
}

.total{
    width: 200px;
    display: flex;
}

.total span{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0;
}

.total-number{
    font-weight: bold;
}


.follow-button a{
    width: 40%;
    background-color: var(--fiesta-color);
    border-radius: 5px;
    padding: 4px 0;

    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;


    color: white;
    font-weight: 500;
    font-size: 0.9em;
}



/* 검색결과 - 관련 있는 계정 */
.accountResult-section{
    width: 100%;
    flex-basis: 20%;
    margin-bottom: 30px;
}


.accountTitle{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.accountTitle span:first-child{ /* 관련 있는 계정 */
    margin: 0 20px 10px 0;
    font-weight: bold;
}


/* 모두보기 */
/*
.accountTitle span:last-child{
    font-size: 0.8em;
    font-weight: 500;
    color: var(--main-font-color);
} */

.account-container{
    max-width: 100%;
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    
    
}

.account-Group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-Group a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImages img{
    width: 80%;
    border-radius: 50%;
    margin-bottom: 8px;
}

.profileNickname{
    font-size: 0.8em;
}

.follow-button-small a{
    font-size: 0.8em;
    font-weight: bold;
    color: var(--fiesta-color);
}



/* 검색결과 - 인기게시글(사진) 섹션 */
.boardResult-section{
    flex-basis: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.boardResult-section > div:first-child{ /* 인기 게시글 */
    flex-basis: 10%;
    height: 10%;
    margin-bottom: 7px;
    font-weight: bold;
}

.boardResult{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.boardImage{
    height: 320px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.boardImage a{
    flex-basis: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.boardImage img{
    width: 100%;
    height: 100%;
}

/* 인기 게시글의 사진
    1) 사진만을 감싸는 부분과 a 태그의 부분이
       똑같은 공간을 가지도록.
    2) img에 padding을 줘서 간격을 만들기.
*/

/* 최근 게시글 */

.recentBoardResult-section > div:first-child{ /* 최근 게시글 */
    flex-basis: 10%;
    height: 10%;
    margin-top: 30px;
    margin-bottom: 7px;
    font-weight: bold;
}


/* 검색 결과가 없습니다 */
.emptyResultMessage{
    font-size: 0.9em;
    color: gray;
}



}/* 미디어쿼리 끝나는 지점 */


