/* 화면 작아질때 footer가 중간에 위치하는 문제 해결하기! */
/* 화면 작아질때 비율 해결하기 */

@import '../root-style.css';

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* web */
@media screen and (min-width: 1024px){

main {
    width: 1000px;
    /* width: 702px;   */
    padding: 20px 1% 0;
    margin: 0 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    /* align-items:center; */
}


/* 검색 결과 (맨위)*/
.keywordResult-section{
    /* border: 1px solid black; */

    flex-basis: 20%;
    width: 100%;
    margin-bottom: 30px;

    padding: 20px;
    
    display: flex;
}


.keywordPicture{
    flex-basis: 20%;
    /* border: 1px solid black; */
}

.keyword-area{
    flex-basis: 70%;
    padding-top : 25px;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* border: 1px solid black; */
}


/* 검색결과 이미지 _인기게시글 첫 번째 이미지로*/
.keywordPic{
    /* height: 100%; */
    height: 160px;
    width: 160px;
    border-radius: 50%;

    margin-top: 10px;
    margin-left: 10px;
}


.searchKeyword{
    font-size: 1.5em;
    font-weight: bold;
}

.total{
    width: 200px;
    display: flex;
}

.total span{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0;
}

.total-number{
    font-weight: bold;
}


.follow-button{
    width: 40%;
    border-radius: 5px;
    padding: 4px 0;
    
    margin-bottom: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: 500;
    font-size: 0.9em;
    
    cursor: pointer;
    /* background-color: var(--fiesta-color);
    color: white;
    border: none; */
}



/* 검색결과 - 관련 있는 계정 */
.accountResult-section{
    width: 100%;
    flex-basis: 20%;
    margin-bottom: 30px;
}


.accountTitle{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.accountTitle span:first-child{ /* 관련 있는 계정 */
    margin: 0 20px 10px 0;
    font-weight: bold;
}


/* 모두보기 */
/*
.accountTitle span:last-child{
    font-size: 0.8em;
    font-weight: 500;
    color: var(--main-font-color);
} */

.account-container{
    max-width: 100%;
    padding: 10px;

    display: flex;
    justify-content: flex-start;
}

.account-Group{
    /* flex-basis : 16%; */
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-Group a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImages img{
    width: 80%;
    border-radius: 50%;
    margin-bottom: 8px;
}

.profileNickname{
    font-size: 0.8em;
    text-align: left;
}

.profileNickname:hover {
    text-decoration: underline;
}

.follow-button-small{
    font-size: 0.8em;
    font-weight: bold;
    /* color: var(--fiesta-color); */
    padding-top :4px;
    cursor: pointer;
}


#followToMemberNo{
    display: none;
}

/* --------------------------------------------------- */

/* 해시태그 팔로우 버튼 변경 클래스 */
.followHashtagBtn{
    background-color: var(--fiesta-color);
    color: white;
    border: none;
}


.unfollowHashtagBtn{
    background-color: gray;
    color: white;
}


/* 관련 계정 팔로우 버튼 변경 클래스 */
.followAccountBtn{
    color: var(--fiesta-color);
    border: none;
}


.unfollowAccountBtn{
    color: gray;
    border: none;
}

/* --------------------------------------------------- */





/* 검색결과 - 인기게시글(사진) 섹션 */
.boardResult-section{
    flex-basis: 60%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.boardResult-section > div:first-child{ /* 인기 게시글 */
    flex-basis: 10%;
    height: 10%;
    margin-top: 30px;
    margin-bottom: 7px;
    font-weight: bold;
}

.boardResult{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.boardImage{
    width: 100%;
    height: 310px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.aBoardImage{
    /* flex-basis: 33%; */
    width: 310px;
    height: 310px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;

    border: 1px solid lightgray;

    position: relative;
}

.b-img{
    width: 310px;
    /* height: 320px; */

/*  width: 100%;
    height: 100%; */
}

/* 최근 게시글 */

.recentBoardResult-section > div:first-child{ /* 최근 게시글 */
    flex-basis: 10%;
    height: 10%;
    margin-top: 30px;
    margin-bottom: 7px;
    font-weight: bold;
}


/* 검색결과 hover시  */
.hover-icon-container {
    display: none;
  }

.b-img:hover + .hover-icon-container {
    width: 100%;
    height: 100%;
    
    background-color: #00000070;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.iHover {
    color: white;
    margin-left: 20px;
    margin-right: 5px;
}

.spanHover {
    color: white;
    font-size: 14px;
}

/* 인기 게시글의 사진
    1) 사진만을 감싸는 부분과 a 태그의 부분이
       똑같은 공간을 가지도록.
    2) img에 padding을 줘서 간격을 만들기.
*/


/* 검색 결과가 없습니다 */
.emptyResultMessage{
    font-size: 0.9em;
    color: gray;
}



}/* 미디어쿼리 끝나는 지점 */


