@import '../root-style.css';

/* mobile */
/* 전체적으로 수정 */
@media screen and (max-width: 470px) {
    /* mobile */
    header {
        width: 100vw;
    }

    main {
        width: 100vw;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        margin-bottom: 20%;
    }
    
    
    /* 검색 결과 (맨위)*/
    .keywordResult-section{
        /* border: 1px solid black; */
        flex-basis: 20%;
        width: 100%;
        margin-bottom: 10px;
        padding: 20px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    

    .keywordPicture{
        flex-basis: 20%;
    }
    
    .keyword-area{
        /* border: 1px solid red; */
        width: 100%;
        flex-basis: 100%;
        padding-top : 25px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .keywordPic{
        /* height: 100%; */
        height: 160px;
        width: 160px;
        border-radius: 50%;
    
        margin-top: 10px;
        margin-left: 10px;
    }
    
    
    .searchKeyword{
        font-size: 1.3em;
        font-weight: bold;
        margin: 0 0 15px 0;
    }
    
    .total{
        width: 200px;
        display: flex;
        margin: 0 0 15px 0;
    }
    
    .total span{
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3px 0;
    }
    
    .total-number{
        font-weight: bold;
    }
    
    
    .follow-button{
        min-width: 130px;
        border-radius: 5px;
        padding: 4px 0;
    
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 0.9em;
        font-weight: 500;

        cursor: pointer;
        /* background-color: var(--fiesta-color);
        color: white;
        border: none; */
    }
    
    
    /* 검색결과 - 관련 있는 계정 */
    .accountResult-section{
        width: 100%;
        flex-basis: 20%;
        margin-bottom: 30px;
    }
    
    
    .accountTitle{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    
    .accountTitle span:first-child{ /* 관련 있는 계정 */
        min-width: 110px;
        margin: 0 20px 10px 0;
        font-weight: bold;
    }

    
    /* 모두보기 */
    /*
    .accountTitle span:last-child{
        font-size: 0.8em;
        font-weight: 500;
        color: var(--main-font-color);
    } */
    
    
    .account-container{
        min-width: 418px;
        padding: 10px;
    
        display: flex;
        justify-content: flex-start;
        
    }
    
    .account-Group{
        height: 105px;
        width: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
    }
    
    .account-Group{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .profileImages img{
        width: 80%;
        border-radius: 50%;
        margin-bottom: 8px;
        margin-left: 10px;
    }
    
    .profileNickname{
        font-size: 0.7em;
        white-space: nowrap;
        margin-left: auto;
        margin-right: 4px;
    }

    .profileNickname:hover {
        text-decoration: underline;
    }

    .follow-button-small{
        font-size: 0.7em;
        font-weight: bold;
        /* color: var(--fiesta-color); */
        margin-top: 4px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    
    /* --------------------------------------------------- */
    /* 해시태그 팔로우 버튼 변경 클래스 */
    .followHashtagBtn{
        background-color: var(--fiesta-color);
        color: white;
        border: none;
    }


    .unfollowHashtagBtn{
        background-color: gray;
        color: white;
    }


    /* 관련 계정 팔로우 버튼 변경 클래스 */
    .followAccountBtn{
        color: var(--fiesta-color);
        border: none;
    }


    .unfollowAccountBtn{
        color: gray;
        border: none;
    }
    /* --------------------------------------------------- */






    
    /* 검색결과 - 인기게시글(사진) 섹션 */
    .boardResult-section{
    flex-basis: 100%;
    width: 100%;
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    }
    
    .boardResult-section > div:first-child{ /* 인기 게시글 */
        flex-basis: 10%;
        height: 10%;
        margin-bottom: 7px;
        font-weight: bold;
    }
    
    .boardResult{
        width: 100%;
        height: 100%;
        margin-left: 5%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .boardImage{
        width: 84vw;
        height: 26vw;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
    }
    
    .boardImage a{
        width: 26vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 5px;

        position: relative;
    }
    
    
    .boardImage img{
        width: 26vw;
        /* width: 100%;
        height: 100%; */
    }

    .recentBoardResult-section > div:first-child{ /* 최근 게시글 */
        flex-basis: 10%;
        height: 10%;
        margin-top: 30px;
        margin-bottom: 7px;
        font-weight: bold;
    }


    /* 검색결과 hover시  */
    .hover-icon-container {
        display: none;
    }

    .boardImage img:hover + .hover-icon-container {
        width: 100%;
        height: 100%;
        
        background-color: #00000070;

        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        padding-right: 5px;
    }

    .hover-icon-container > i {
        color: white;
        margin-left: 5px;
        margin-right: 5px;
    }

    .hover-icon-container > span {
        color: white;
        font-size: 3px;
    }

    /* 검색 결과 없음 */
    .emptyResultMessage{
        font-size: 0.9em;
        color: gray;
    }
    

}

