@import '../root-style.css';


/* tablet */
/* main의 min-width 수정  + 아래 글씨 크기 정도 수정 */
@media screen and (min-width: 471px) and (max-width: 1023px) {
    header {
        width: 100vw;
    }

    main {
        min-width: 80%;
        /* width: 702px;   */
        padding: 20px 1% 0;
        margin: 0 20px 20px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
        /* align-items:center; */
    }
    
    main > section {
        margin: 0;
        display: block;
    }
    

    
    /* 검색 결과 (맨위)*/
    .keywordResult-section{
        /* border: 1px solid black; */
        flex-basis: 20%;
        width: 100%;
        margin-bottom: 30px;
        padding: 20px;
        display: flex;
    }
    

    .keywordPicture{
        flex-basis: 20%;
    }
    
    .keyword-area{
        flex-basis: 70%;
        padding-top : 5px;
        padding-top : 25px;
        margin-left: 50px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
    /* 검색결과 이미지 _피드 프로필하고 맞추기*/
    .keywordPic{
        /* height: 100%; */
        height: 160px;
        width: 160px;
        border-radius: 50%;
    
        margin-top: 10px;
        margin-left: 10px;
    }
    
    
    .searchKeyword{
        font-size: 1.5em;
        font-weight: bold;
    }
    
    .total{
        width: 200px;
        display: flex;
    }
    
    .total span{
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 5px 0;
    }
    
    .total-number{
        font-weight: bold;
    }
    
    .follow-button{
        min-width: 180px;
        width: 40%;
        border-radius: 5px;
        padding: 4px 0;
    
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 500;
        font-size: 0.9em;

        cursor: pointer;
        /* background-color: var(--fiesta-color);
        color: white;
        border: none; */
    }
    

    
    /* 검색결과 - 관련 있는 계정 */
    .accountResult-section{
        width: 100%;
        flex-basis: 20%;
        margin-bottom: 30px;
    }
    
    
    .accountTitle{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    
    
    .accountTitle span:first-child{ /* 관련 있는 계정 */
        margin: 0 20px 10px 0;
        font-weight: bold;
    }

    
    /* 모두보기 */
    /*
    .accountTitle span:last-child{
        font-size: 0.8em;
        font-weight: 500;
        color: var(--main-font-color);
    } */
    
    .account-container{
        max-width: 100%;
        min-width: 500px;
        padding: 10px 5px;
    
        display: flex;
    }
    
    .account-Group{
        flex-basis : 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    .account-Group a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .profileImages img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: 8px;
        /* margin-left: 10px; */
    }
    
    .profileNickname{
        font-size: 0.7em;
        white-space: nowrap;
        /* margin-left: auto;
        margin-right: 4px; */
    }


    .profileNickname:hover {
        text-decoration: underline;
    }

    
    .follow-button-small{
        font-size: 0.7em;
        font-weight: bold;
        padding-top :4px;
        /* margin-left: auto; */
        cursor: pointer;
    }

    .myAccount{
        font-size: 0.8em;
        font-weight: bold;
        color: var(--fiesta-color);
        padding-top :4px;
    }
    
    
    /* --------------------------------------------------- */
    
    /* 해시태그 팔로우 버튼 변경 클래스 */
    .followHashtagBtn{
        background-color: var(--fiesta-color);
        color: white;
        border: none;
    }


    .unfollowHashtagBtn{
        background-color: gray;
        color: white;
        /* border: 1px solid gray; */
    }


    /* 관련 계정 팔로우 버튼 변경 클래스 */
    .followAccountBtn{
        color: var(--fiesta-color);
        border: none;
    }


    .unfollowAccountBtn{
        color: gray;
        border: none;
    }
    /* --------------------------------------------------- */


    /* 검색결과 - 인기게시글(사진) 섹션 */
    .boardResult-section{
        flex-basis: 60%;
        width: 100%;
        /* border: 1px solid black; */
    
        display: flex;
        flex-direction: column;
    }
    
    .boardResult-section > div:first-child{ /* 인기 게시글 */
        flex-basis: 10%;
        height: 10%;
        margin-bottom: 7px;
        font-weight: bold;
    }
    
    .boardResult{
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .boardImage{
        width: 100vw;
        height: 32vw;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .buttonBoardImage{
        width: 32vw;
        height: 32vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 10px;

        position: relative;
    }
    
    
    .b-img{
        width: 32vw;
        height: 32vw;
        /* width: 100%;
        height: 100%; */
    }

    .recentBoardResult-section > div:first-child{ /* 최근 게시글 */
        flex-basis: 10%;
        height: 10%;
        margin-top: 30px;
        margin-bottom: 7px;
        font-weight: bold;
    }

    /* 검색결과 hover시  */
    .hover-icon-container {
        display: none;
    }

    .b-img:hover + .hover-icon-container {
        width: 100%;
        height: 100%;
        
        background-color: #00000070;

        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .iHover {
        color: white;
        margin-left: 20px;
        margin-right: 5px;
    }

    .spanHover {
        color: white;
        font-size: 14px;
    }



    /* 검색 결과 없음 */
    .emptyResultMessage{
        font-size: 0.9em;
        color: gray;
    }


}






