<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSettingMapper">


    <!-- 댓글 기능 차단 N으로 수정 -->
	<update id="updateCommentBlockN">
		UPDATE BOARD SET
		COMMENT_BLOCK_FL = 'N'
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	
    <!-- 댓글 기능 차단 Y로 수정 -->
	<update id="updateCommentBlockY">
		UPDATE BOARD SET
		COMMENT_BLOCK_FL = 'Y'
		WHERE BOARD_NO = #{boardNo}
	</update>
	

</mapper>
