<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commentMapper">

	<resultMap type="Member" id="member_rm">
       <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
	    <id property = "memberNo" column="MEMBER_NO"/>
	    <!-- 나머지 일반 컬럼 -->
	     <result property="memberEmail" column="MEMBER_EMAIL" />
	     <result property="memberPw" column="MEMBER_PW" />
	     <result property="memberName" column="MEMBER_NAME" />
	     <result property="memberNickname" column="MEMBER_NICKNAME" />
	     <result property="memberProfileImg" column="MEMBER_PROFILE_IMG" />
	     <result property="enrollDate" column="ENROLL_DATE" />
	     <result property="memberOpenFl" column="MEMBER_OPEN_FL" />
	     <result property="secessionFl" column="SECESSION_FL" />
	     <result property="authority" column="AUTHORITY" />
 	</resultMap>
 	
	<resultMap type="Hashtag" id="hashtag_rm">
       <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
	   <id property = "hashtagNo" column="HASHTAG_NO"/>
	   <!-- 나머지 일반 컬럼 -->
	   <result property="hashtagContent" column="HASHTAG_CONTENT" />
	   <result property="boardCount" column="BOARD_COUNT" />
 	</resultMap>



    <!-- 댓글 좋아요 증가 -->
  <insert id="commentLikeUp">
  	INSERT INTO COMMENT_LIKE
  	VALUES(#{commentNo}, #{memberNo})
  </insert>
  
  <!-- 댓글 좋아요 취소 -->
  <delete id="commentLikeDown">
  	DELETE FROM COMMENT_LIKE
  	WHERE LIKE_COMMENT_NO = #{commentNo}
  	AND MEMBER_NO = #{memberNo}
  </delete>
  
  <!-- 댓글 등록 -->
  <insert id="commentInsert" parameterType="map" useGeneratedKeys="true">
  	<selectKey keyProperty="commentNo" resultType="int" order="BEFORE">
  		SELECT SEQ_COMMENT_NO.NEXTVAL FROM DUAL
  	</selectKey>
  	
  	INSERT INTO "COMMENT"
  	VALUES(#{commentNo}, #{commentMemberNo}, #{commentContent}, DEFAULT,
  	#{boardNo}, #{upperCommentNo})
  </insert>
  
  <select id="selectReplyCount" resultType="_int">
  	SELECT COUNT(*)
  	FROM "COMMENT"
  	WHERE UPPER_COMMENT_NO = #{commentNo}
  </select>
  
  <!-- 댓글 내용 삭제 -->
  <update id="deleteCommentContent">
  	UPDATE "COMMENT" SET
  	COMMENT_CONTENT = '삭제된 내용입니다.'
  	WHERE COMMENT_NO = #{commentNo}
  </update>
  
  <!-- 댓글 삭제 -->
  <delete id="deleteComment">
  	DELETE FROM "COMMENT"
  	WHERE COMMENT_NO = #{commentNo}
  </delete>

	<!-- 언급 자동완성 -->
	<select id="selectMemberList" resultMap="member_rm">
	 	SELECT MEMBER_NICKNAME, MEMBER_NAME, MEMBER_PROFILE_IMG
		FROM "MEMBER"
		WHERE (MEMBER_NICKNAME LIKE '%${searchName}%' 
			OR MEMBER_NICKNAME LIKE '%UPPER(${searchName})%'  
			OR MEMBER_NICKNAME LIKE '%LOWER(${searchName})%')
		OR (MEMBER_NAME LIKE '%${searchName}%' 
			OR MEMBER_NAME LIKE '%UPPER(${searchName})%' 
			OR MEMBER_NAME LIKE '%LOWER(${searchName})%')
	</select>
	
	<!-- 해시태그 자동완성 -->
	<select id="selectHashtagList" resultMap="hashtag_rm">
		SELECT HASHTAG_CONTENT, 
			(SELECT COUNT(*) FROM BOARD WHERE BOARD_CONTENT LIKE '%#${searchName}%') BOARD_COUNT
		FROM HASHTAG
		WHERE HASHTAG_CONTENT LIKE '%${searchName}%'
	</select>
  
</mapper>
