<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commentMapper">

    <!-- 댓글 좋아요 증가 -->
  <insert id="commentLikeUp">
  	INSERT INTO COMMENT_LIKE
  	VALUES(#{commentNo}, #{memberNo})
  </insert>
  
  <!-- 댓글 좋아요 취소 -->
  <delete id="commentLikeDown">
  	DELETE FROM COMMENT_LIKE
  	WHERE LIKE_COMMENT_NO = #{commentNo}
  	AND MEMBER_NO = #{memberNo}
  </delete>
  
  <!-- 댓글 등록 -->
  <insert id="commentInsert" parameterType="map" useGeneratedKeys="true">
  	<selectKey keyProperty="commentNo" resultType="int" order="BEFORE">
  		SELECT SEQ_COMMENT_NO.NEXTVAL FROM DUAL
  	</selectKey>
  	
  	INSERT INTO "COMMENT"
  	VALUES(#{commentNo}, #{memberNo}, #{commentContent}, DEFAULT,
  	#{boardNo}, #{upperCommentNo})
  </insert>
  
  <update id="deleteCommentContent">
  	UPDATE "COMMENT" SET
  	COMMENT_CONTENT = '삭제된 내용입니다.'
  	WHERE COMMENT_NO = #{commentNo}
  </update>
  
  <delete id="deleteComment">
  	DELETE FROM "COMMENT"
  	WHERE COMMENT_NO = #{commentNo}
  </delete>

  
</mapper>
