<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dmMapper">

	<!-- 채팅방 resultMap -->
	<resultMap type="ChattingRoom" id="chattingRoom_rm">
      <id property="chattingNo" column="CHATTING_NO" />

      <result property="lastMessage" column="LAST_MESSAGE" />
      <result property="sendTime" column="SEND_TIME" />
      <result property="targetNo" column="TARGET_NO" />
      <result property="targetNickName" column="TARGET_NICKNAME" />
      <result property="targetProfile" column="TARGET_PROFILE" />
      <result property="notReadCount" column="NOT_READ_COUNT" />
   </resultMap>

	<!-- 채팅 메시지 resultMap -->
   <resultMap type="Message" id="message_rm">
      <id property="messageNo" column="MESSAGE_NO" />

      <result property="messageContent" column="MESSAGE_CONTENT" />
      <result property="readFlag" column="READ_FL" />
      <result property="senderNo" column="SENDER_NO" />
      <result property="chattingNo" column="CHATTING_NO" />
      <result property="sendTime" column="SEND_TIME" />
   </resultMap>
   
   <resultMap type="Member" id="member_rm">
  
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "memberNo" column="MEMBER_NO"/>
     
     <!-- 나머지 일반 컬럼 -->
      <result property="memberEmail" column="MEMBER_EMAIL" />
      <result property="memberPw" column="MEMBER_PW" />
      <result property="memberName" column="MEMBER_NAME" />
      <result property="memberNickname" column="MEMBER_NICKNAME" />
      <result property="memberProfileImg" column="MEMBER_PROFILE_IMG" />
      <result property="enrollDate" column="ENROLL_DATE" />
      <result property="memberOpenFl" column="MEMBER_OPEN_FL" />
      <result property="secessionFl" column="SECESSION_FL" />
      <result property="authority" column="AUTHORITY" />
      
  	</resultMap>


<!-- 모달 받는 사람 회원 목록 비동기 조회 -->
<select id="selectMember" parameterType="string" resultMap="member_rm">
SELECT MEMBER_NICKNAME, MEMBER_PROFILE_IMG
FROM "MEMBER"
WHERE MEMBER_NICKNAME LIKE '%${memberNickname}%'
</select>


</mapper>
