<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="settingMapper">

<select id="selectEncPw" parameterType="_int" resultType="string">
SELECT MEMBER_PW
FROM "MEMBER"
WHERE MEMBER_NO = #{memberNo}
</select>


 <update id="changePw" parameterType="map">
 	UPDATE "MEMBER" SET
 	MEMBER_PW = #{newPw}
 	WHERE MEMBER_NO = #{memberNo}
 </update>
 
 
</mapper>
