<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="settingMapper">

  	<resultMap type="Member" id="member_rm">
  
        <!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
     <id property = "memberNo" column="MEMBER_NO"/>
     
     <!-- 나머지 일반 컬럼 -->
      <result property="memberEmail" column="MEMBER_EMAIL" />
      <result property="memberPw" column="MEMBER_PW" />
      <result property="memberName" column="MEMBER_NAME" />
      <result property="memberNickname" column="MEMBER_NICKNAME" />
      <result property="memberProfileImg" column="MEMBER_PROFILE_IMG" />
      <result property="enrollDate" column="ENROLL_DATE" />
      <result property="memberOpenFl" column="MEMBER_OPEN_FL" />
      <result property="secessionFl" column="SECESSION_FL" />
      <result property="authority" column="AUTHORITY" />
      </resultMap>


<select id="selectEncPw" parameterType="_int" resultType="string">
SELECT MEMBER_PW
FROM "MEMBER"
WHERE MEMBER_NO = #{memberNo}
</select>


 <update id="changePw" parameterType="map">
 	UPDATE "MEMBER" SET
 	MEMBER_PW = #{newPw}
 	WHERE MEMBER_NO = #{memberNo}
 </update>
 <update id="updateSetting" parameterType="Member" >
 UPDATE "MEMBER" SET
 MEMBER_NAME = #{memberName},
 MEMBER_NICKNAME = #{memberNickname}
 WHERE MEMBER_NO = #{memberNo}
 </update>
 
 <select id="nicknameDupCheck" parameterType="string" resultType="_int">
 SELECT COUNT(*) FROM "MEMBER"
 WHERE MEMBER_NICKNAME = #{memberNickname}
 AND SECESSION_FL = 'N'
 </select>
 
 <!-- 프로필 이미지 수정 --> 
 <update id="updateImage" parameterType="Member">
 	UPDATE "MEMBER" SET
 	MEMBER_PROFILE_IMG = #{memberProfileImg}
 	WHERE MEMBER_NO = #{memberNo}
 </update>
 
 <!-- 탈퇴 -->
 <update id="memberDelete">
 UPDATE "MEMBER" SET
 SECESSION_FL = 'Y'
 WHERE MEMBER_NO = #{memberNo}
 </update>
 
 <!-- 조회수 x -->
 <update id="boardDelete">
 UPDATE "BOARD" SET
 BOARD_PUB_PRI_FL = 'N'
 WHERE MEMBER_NO = #{memberNo}
 </update>
 
 
<update id="changeOpen">
UPDATE "MEMBER" SET
MEMBER_OPEN_FL = #{memberOpenFl}
WHERE MEMBER_NO = #{memberNo}
</update>


</mapper>
 
 