@import '../root-style.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;

}

.declaration-container {
  width: 100vw;
  height: 100vh;
  background-color: #00000070;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;

  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.report-menu {
  width: 500px;
  height: 380px;
  background-color: white;

  border-radius: 7px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.declaration-content {
  width: 90%;
  flex-basis: 70%;
  border-bottom: 1px solid #ddd;

  font-size: var(--main-font-size);
}

#declarationOption {
  width: 100%;
  outline: none;
}

#declaration-textarea {
  box-sizing: border-box;
  margin-top: 10px;
  width: 100%;
  height: 200px;
  resize: none;
  outline: none;

  padding: 5px;

  border: 1px solid #828282;
}

.report-menu-title,
.report-menu-btn {
  width: 40px

  flex-basis: 15%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.report-menu-btn > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: black;
  font-size: 14px;
}

.btn1 > span {
  color: orangered;
}

.btn2 > button {
  border-bottom: 1px solid #ddd;
}

.btn2 {
  font-weight: bold;
}
