@import '../root-style.css';
  

  .auto-complete-container{
    width: 350px;
    height: 200px;
    background-color: white;
/*   
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; */
    display: flex;
    flex-direction: column;

    box-shadow: 1px 1px 5px gray;
    position: absolute;
    top: 48px;
    padding: 5px 1px;
    
    overflow-y: auto;
    overflow-x: hidden;

    z-index: 10;

    /* display: none; */
  }
  
  .auto-complete-container::-webkit-scrollbar {
    display: none;
  }
  
  .auto-complete-content {
    width: 100%;
    height: 55px;
    flex-shrink: 0;
  
    display: flex;
    align-items: center;

    padding: 8px 10px;

    border-bottom: 1px solid #dddddd;
    cursor: pointer;
  }
  

  .auto-complete-content span{
    display: flex;
    align-items: center;
  } 

  
  .auto-complete-content:hover {
    background-color: rgba(221, 221, 221, 0.3);
  }
  
  .auto-complete-content img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  
  
  .auto-complete-content i {
    margin-right: 10px;
  }
  
  .auto-complete-content a {
    font-size: 14px;
    font-weight: bold;
  }

  .auto-complete-content button{
    background-color: white;
    border: 1px solid lightgray;
    width: 48px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .member-info {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 10px;

  }

  .member-info > span {
    height: 18px;
  }

  span.mention-nickname {
    font-size: var(--small-font-size);
    font-weight: bold;

  }

  span.mention-name {
    font-size: var(--main-font-size);
    font-weight: normal;
    color: gray;
  }

.auto-complete-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg path,
svg rect{
  fill: var(--fiesta-color);
}