@import "../root-style.css";
/*------------모달 배경------------*/
.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);

  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 500;
  display: none;
}

/* ************** 게시물 작성 창 ******************* */

.modal_close_section {
  min-width: 260px;
  max-width: 400px;
  width: 50%;
  background-color: white;
  text-align: center;
  border-radius: 10px;
}
.close-text1 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 20px 0 20px;
}
.close-text2 {
  font-size: 15px;
  padding: 20px 30px 20px 30px;
  color: #ddd;
  font-weight: lighter;
}
.close-text-delete {
  font-size: 18px;
  color: var(--fiesta-color);
  padding: 20px 0;
  border-top: 1px solid #ddd;
  cursor: pointer;
}
.close-text-cancel {
  font-size: 18px;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  cursor: pointer;
}
