@import "../root-style.css";
/*------------모달 배경------------*/
.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);

  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 700;
  display: none;
}
/*------------닫기 버튼------------*/
.new-post-close {
  position: fixed;
  top: 0;
  left: 100;
  bottom: 100;
  right: 0;
  z-index: 6;
  margin: 20px;
  background-color: transparent;
  transform: scale(1.5);
  cursor: pointer;
  color: white;
}

/* ----- 게시물작성 top ------ */
.new-post-top-file {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  height: 50px;
}

.new-post-top > * {
  display: flex;
  align-items: center;
  /* margin: 0 10px; */
}
/* ----- 게시물작성 bottom ------ */

.new-post-bottom {
  width: 100%;
  /* padding-bottom: 100%; */
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-post-finish-img > i {
  color: var(--fiesta-color);
  margin-bottom: 10px;
  /* margin: 10px; */
}
.new-post-finish-text {
  font-weight: lighter;
  margin-top: 10px;
  font-size: 25px;
  color: rgb(97, 96, 96);
}
