@import "./root-style.css";

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  z-index: 5;
}

#new-close-post {
  display: inline;
  position: fixed;
  top: 0;
  left: 100;
  bottom: 100;
  right: 0;
  z-index: 6;
  margin: 20px;
  background-color: transparent;
  transform: scale(1.5);
  cursor: pointer;
  color: white;
}

/* ************** 게시물 작성 창 ******************* */
/* 점점커지는 사이즈 */
@media screen and (min-width: 721px), (min-height: 571px) {
  .modal_post_section {
    width: 50%;
    max-width: 855px;
    max-height: 894px;
  }
}

/* 가장 작은 사이즈 */
@media screen and (max-width: 720px), (max-height: 570px) {
  .modal_post_section {
    width: 348px;
    height: 390px;
  }
}

.modal_post_section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
}

.modal_post_section::before {
  content: "";
  display: block;
  padding-top: 114%;
}

.new-post-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border-radius: 10px;
  overflow: hidden;

  background-color: white;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
}

/* ----- 게시물작성 top ------ */
.new-post-top-section {
  width: 100%;
  height: 50px;
}

.new-post-top {
  display: flex;
  justify-content: space-between;
  height: 100%;
  border-bottom: 2px solid #ececec;
}

.new-post-top-back-btn,
.new-post-top-next-btn {
  /* flex-grow: 1; */
  cursor: pointer;
  padding: 15px;
  /* font-size: 25px; */
  width: 100px;
}

.new-post-top-next-btn {
  color: var(--fiesta-color);
  box-sizing: content-box;
  font-size: 16px;
  flex-direction: row-reverse;
}

.new-post-top-title {
  justify-content: center;
  font-size: 20px;
}

.new-post-top-back-btn,
.new-post-top-title,
.new-post-top-next-btn {
  display: flex;
  align-items: center;
}

/* ----- 게시물작성 bottom ------ */
.new-post-bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92%;
}

.new-post-file-input-box {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ****사진 편집******* */
.file-eidt {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  /* 아래로 배치 */
}

#file {
  position: absolute;
  height: 100%;
  width: 100%;
  border-end-end-radius: 10px;
}

.img-btn {
  display: flex;
  align-items: flex-end;
}

.btn-background {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 100%;

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  z-index: 100000;
}

.btn-background:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-background > i {
  color: white;
}

.img-next-view {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 20px 20px;
}

.img-btn {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  /* 양쪽 정렬 */
  padding: 0 20px 20px;
}

/* 버튼 클릭시 */

/* 비율조정 선택 */
#check-btn1,
#check-btn2 {
  display: none;
}
#check-btn1:checked ~ .cut {
  display: block;
}
#check-btn2:checked ~ .add {
  display: block;
}

.cut,
.add {
  display: none;
}

.new-post-btn-menu {
  display: flex;
  flex-direction: column-reverse;
}

.cut,
.add {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;

  margin-bottom: 10px;
}
.cut > div {
  color: white;
  padding-left: 10px;

  font-size: 15px;
  width: 84px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.cut-1 > i,
.cut-2 > i {
  padding: 12px;
}
.cut-2 {
  border-top: 1px solid white;
}

/* 사진추가 */
.add-1 {
  width: 288px;
  height: 118px;
}
.add-1 {
  display: flex;
}
.new-post-files > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 94px;
  height: 94px;
  background-color: white;
}
