@import "./root-style.css";

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  /* justify-content:center; */
  align-items: center;
  /* display:none; */
  padding: 15px;
  z-index: 5;
}
#close-post {
  position: fixed;
  top: 0;
  left: 100;
  bottom: 100;
  right: 0;
  z-index: 6;
  margin: 20px;
  background-color: transparent;
  transform: scale(2);
  cursor: pointer;
  color: white;
}
/* ************** 게시물 작성 창 ******************* */

/* 가장 작은 사이즈 */
/* @media screen and (min-width:721px),
(min-height:571px) {
  .modal_post_section {
    
  }
} */

.modal_post_section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);

  width: 99%;
  height: 70%;
  min-width: 721px;
  min-height: 391px;
  max-width: 1220px;
  max-height: 390px;

  /* overflow: scroll; */
}
/* 
.modal_post_section::before {
  content: "";
  display: block;
  padding-top: 114%;
} */

.new-post-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border-radius: 10px;
  overflow: hidden;

  background-color: white;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

/* ----- 게시물작성 top ------ */
.new-post-top-section {
  width: 100%;
  height: 50px;
}
.new-post-top {
  display: flex;
  justify-content: space-between;
  height: 100%;
  border-bottom: 2px solid #ccc;
}

.new-post-top-back-btn,
.new-post-top-next-btn {
  /* flex-grow: 1; */
  cursor: pointer;
  padding: 15px;

  /* font-size: 25px; */
  width: 100px;
}

.new-post-top-next-btn {
  color: var(--fiesta-color);
  box-sizing: content-box;
  font-size: 16px;
  flex-direction: row-reverse;
}

.new-post-top-title {
  /* flex-grow: 1; */
  justify-content: center;
  font-size: 20px;
}

.new-post-top-back-btn,
.new-post-top-title,
.new-post-top-next-btn {
  display: flex;
  align-items: center;
}

/* ----- 게시물작성 bottom ------ */
.new-post-bottom-section {
  display: flex;
  width: 100%;
  height: 92%;
}
/* .bottom-left-box{width: 50%;} */
/* .bottom-right-box{width: 50%;} */
/* ********** 왼쪽 BOX ************ */
.bottom-left-box {
  position: relative;
  display: flex;
  /* width:60vw; */
  min-width: 388px;
  /* min-height: 431px; */
  /* max-width: 795px; */
  /* max-height: 838px; */
  width: 70%;
  /* height: 100%; */
}
.bottom-left-box::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.new-post-bottom-file > img {
  position: absolute;
  width: 100%;
}

/* *************오른쪽 box ***************/
.new-post-bottom-set,
.new-post-bottom-textsize {
  border-bottom: 2px solid #ccc;
}

.new-post-bottom-information {
  height: 480px;
  width: 322px;
  display: flex;
  flex-direction: column;
}
.bottom-right-box {
  overflow: auto;
  /* scrollbar-width:none; */
}
.new-post-bottom-information {
  margin-right: 10px;
}
/* 작성자 */
.new-post-bottom-member {
  height: 10%;
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 8px;
}
.new-post-bottom-member > div {
  font-size: 13px;
}
/* 프로필사진 */
.new-post-bottom-member > img {
  width: 28px;
  height: 28px;
  margin: 0 10px;
}
/* 텍스트작성 부분 */
.new-post-bottom-inputtext > textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  /* background-color: blue; */
  color: rgb(141, 141, 141);
  font-size: 15px;
  padding: 0 16px;
  overflow: auto;
}
.new-post-bottom-inputtext > textarea:focus {
  outline: none;
}
/* 작성가능 글자수 */
.new-post-bottom-textsize {
  display: flex;
  justify-content: flex-end;
  color: rgb(220, 220, 220);
  padding: 10px;
  font-size: 5px;
}
/* 설정부분 */
.new-post-bottom-set {
  display: flex;
  flex-direction: column;
}
.new-post-bottom-set > label {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.new-post-bottom-set > i {
  cursor: pointer;
  z-index: 2000;
}
.new-post-bottom-set > div {
  padding: 10px;
  font-size: 12px;
}
/* 버튼 클릭시 */
#set-btn1,
#set-btn2 {
  display: none;
}
#set-btn1:checked ~ div {
  display: block;
}
#set-btn2:checked ~ div {
  display: block;
}
.new-post-bottom-set > div {
  display: none;
}
/* input[id="set-btn"]{
  display: block;
  padding: 20px;
  border: 1px solid black;
  border-bottom: 0;
  font-weight: 900;
  cursor: pointer;
}
input[id="set-btn"]{

} */
