@import "./root-style.css";

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: none;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  z-index: 5;
}

.new-post-close {
  position: fixed;
  top: 0;
  left: 100;
  bottom: 100;
  right: 0;
  z-index: 6;
  margin: 20px;
  background-color: transparent;
  transform: scale(1.5);
  cursor: pointer;
  color: white;
}

/* ************** 게시물 작성 창 ******************* */
/* 점점커지는 사이즈 */
@media screen and (min-width: 721px), (min-height: 571px) {
  .modal_post_section {
    width: 50%;
    max-width: 855px;
    max-height: 894px;
  }
}

/* 가장 작은 사이즈 */
@media screen and (max-width: 720px), (max-height: 570px) {
  .modal_post_section {
    width: 348px;
    height: 390px;
  }
}

.modal_post_section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
}

.modal_post_section::before {
  content: "";
  display: block;
  padding-top: 114%;
}

.new-post-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border-radius: 10px;
  overflow: hidden;

  background-color: white;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
}

/* ----- 게시물작성 top ------ */
.new-post-top-section {
  width: 100%;
  height: 50px;
}

.new-post-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom: 2px solid #ececec;
}

.new-post-top-title {
  justify-content: center;
  font-size: 18px;
}

/* ----- 게시물작성 bottom ------ */
.new-post-bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92%;
}

.new-post-file-input-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-message {
  height: 52px;
  font-size: 24px;
  text-align: center;

  font-weight: lighter;

  padding: 0 7px;
  margin: 20px 0;
}

#file-input {
  display: none;
}

.file-select-btn > label {
  cursor: pointer;
}

.file-select-btn {
  width: 122px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--fiesta-color);
  margin-top: 12px;

  color: white;
  font-size: 15px;
  text-align: center;
}
