@import "./root-style.css";

/* mobile */
/* 전체적으로 수정 */
@media screen and (max-width: 470px) {
  /* mobile */
  header {
    width: 100vw;
  }

  main {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  /* 검색 결과 (맨위)*/
  .keywordResult-section {
    /* border: 1px solid black; */
    flex-basis: 20%;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .keywordPicture {
    flex-basis: 20%;
  }

  .keyword-area {
    /* border: 1px solid red; */
    width: 100%;
    flex-basis: 100%;
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .keywordPicture img {
    height: 100%;
    width: 150px;
    border-radius: 50%;
  }

  .searchKeyword {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 15px 0;
  }

  .total {
    width: 200px;
    display: flex;
    margin: 0 0 15px 0;
  }

  .total span {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .total-number {
    font-weight: bold;
  }

  .follow-button {
    min-width: 80px;
    background-color: var(--fiesta-color);
    border-radius: 5px;
    padding: 2px 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .follow-button a {
    color: white;
    font-weight: 500;
    font-size: 0.9em;
  }

  /* 검색결과 - 관련 있는 계정 */
  .accountResult-section {
    width: 100%;
    flex-basis: 20%;
    margin-bottom: 30px;
  }

  .accountTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .accountTitle span:first-child {
    /* 관련 있는 계정 */
    min-width: 110px;
    margin: 0 20px 10px 0;
    font-weight: bold;
  }

  .accountTitle span:last-child {
    /* 모두보기 */
    font-size: 0.8em;
    font-weight: 500;
    color: var(--main-font-color);
  }

  .account-container {
    min-width: 418px;
    padding: 10px;

    display: flex;
    justify-content: center;
  }

  .account-Group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .account-Group a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profileImage img {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 8px;
  }

  .profileNickname {
    font-size: 0.7em;
  }

  .follow a {
    font-size: 0.7em;
    font-weight: bold;
    color: var(--fiesta-color);
  }

  /* 검색결과 - 인기게시글(사진) 섹션 */
  .boardResult-section {
    flex-basis: 60%;
    width: 100%;
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
  }

  .boardResult-section > div:first-child {
    /* 인기 게시글 */
    flex-basis: 10%;
    height: 10%;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .boardResult {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .boardImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .boardImage a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .boardImage img {
    width: 100%;
    height: 100%;
    padding: 1%;
  }
}
